*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

h2, h3, h4{
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container h2 {
    color: #ffffff;
    margin: 10px;
}

.code_qr_image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: 1px solid #ff00003c;
}

.container_containt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #5e92d597;
    width: 50%;
    border-radius: 10px;
}

input[type=text]{
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
}


.generate {
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #ff2525d5;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}